/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    overflow: hidden; /* Prevent video overflow */
}

.background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.6; /* Adjust opacity as needed */
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container form {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-container label,
.login-container input,
.login-container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    height: 40px;
}

.login-container button {
    background: #1abc9c;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-container button:hover {
    background: #148f77;
}

.error-message {
    color: red;
    margin-top: 10px;
}
